.container-content {
  user-select: none;
  margin: auto 0 auto 0;
}

.container-content h1 {
  margin-top: -2.4%;
  margin-bottom: 0.4%;
}

.card-wrapper {
  display: flex;
  padding: 1vw;
}

button.card {
  outline: none;
  background: none;
  border: .3vw solid lightgray;
  border-radius: 1vw;
  flex: 33%;
  margin: 0 1.5vw 0 1.5vw;
  overflow: hidden;
}

.card .card-content {
  padding: 8% 8% 0 8%;
}

.card .card-content img {
  width: 90%;
}

.card .card-content p.title {
  color: black;
  font-weight: bold;
}

button.card:hover {
  border-color: cadetblue;
}

button.card:focus {
  border-color: blueviolet;
}
