.container-content {
  display: flex;
  width: 100%;
}

.container-content h1 {
  font-size: 2vw;
  margin-top: -.05vw;
}

.container-content h3 {
  font-size: .9vw;
  text-align: center;
}

.container-part {
  flex: 50%;
  margin: 0 2em 0 2em;
  text-align: center;
  background: ;
}

.container-content .customer p {
  font-size: .8vw;
  text-align: left;
  margin: .5vw auto;
}

.container-content>.customer input,
.container-content>.customer select {
  background: #ededed;
  border: none;
  border-radius: 1vw;
  line-height: 1.8vw;
  padding: .3vw;
  min-width: 80%;
}

.container-content .customer select {
  font-size: 1vw;
}

.container-content .customer button {
  margin: 0 auto;
  background: white;
  border: blueviolet .2vw solid;
  border-radius: 2vw;
  padding: .5vw 2vw;
  margin-top: 1vw;
  transition: 0.2s;
  outline: none;
  cursor: pointer;
  font-family: 'Overpass',
    sans-serif;
  font-size: 1vw;
}

.container-content .customer button:hover {
  background-color: blueviolet;
  color: white;
}

/* Product part */
/* .container-content .product {
  margin-left: 25%;
  width: 200%;
} */

.content {
  /* width: 80%; */
  margin: auto;
  background-color: #eaeaea;
  margin-top: 2em;
  padding-top: 1em;
}

.content>.line {
  margin: 2em;
  width: 80%;
}

.content>.line>.product {
  width: calc(100% - 3.5em);
  height: 1em;
  border-style: solid;
  display: inline-block;
}

.content>.line>.product>.color {
  height: 100%;
  width: 2.5em;
  display: inline-block;
}

.content>.line>.product>select {
  width: calc(100% - 3.5em);
  height: 100%;
  display: inline-block;
}

.content>.line>.amount {
  width: 1em;
  height: 1em;
  border-style: solid;
  display: inline-block;
}

.content>.line>.amount>input {
  width: 100%;
  height: 100%;
}
